<div class="card">

  <div class="title">
    {{ group.name }} ({{group.from}} - {{group.to}})
  </div>

  <div class="balance" *ngIf="balance !== 0">
    {{ balance > 0 ? 'B owes A' : 'A owes B' }}
    ₹{{ getAbs(balance) }}
  </div>

  <button class="btn btn-block" (click)="toggle()">
    {{ group.expanded ? 'Hide Details' : 'View Details' }}
  </button>

  <div *ngIf="group.expanded" class="list">

    <div *ngFor="let e of group.expenses" class="list-item">
      <span>{{ e.description }}</span>
      <span>₹{{ e.amount }} ({{ e.paidBy }})</span>
    </div>

   <button class="btn btn-primary" (click)="openExpense.emit()">
      + Add Expense
    </button>

  </div>

</div>

<!-- Bottom Sheet -->
<div class="bottom-sheet" [class.show]="openSheet">

  <app-add-expense
    [group]="group"
    (close)="openSheet = false; refresh()">
  </app-add-expense>

</div>