<div class="login-container">
  <div class="app-title">SplitsBillAhh</div>
  <!-- USER SELECT -->
  <div class="toggle">
    <button
      [class.active]="selectedUser === 'B'"
      (click)="selectUser('B')">
      B
    </button>

    <button
      [class.active]="selectedUser === 'A'"
      (click)="selectUser('A')">
      A
    </button>
  </div>

  <!-- PASSWORD -->
  <input [(ngModel)]="password" type="password" placeholder="Password">

  <!-- LOGIN -->
  <button class="btn btn-primary" (click)="login()">Login</button>

  <div class="error" *ngIf="error">{{ error }}</div>

</div>