<div class="header-card">

  <!-- Greeting -->
  <div class="greeting">
    {{ userEmail === 'a@mail.com' ? 'Welcome Back A' : 'Hey B 😏' }}
  </div>

  <!-- ONLY B sees message -->
  <div *ngIf="userEmail === 'b@mail.com'"
       class="message"
       (click)="loadMessage()">
    {{ message }}
  </div>

  <!-- ONLY A sees manage -->
  <button *ngIf="userEmail === 'a@mail.com'"
    class="btn"
    (click)="openMessagePanel = true; loadMessages()">
    Manage Messages
  </button>

  <button class="btn" (click)="logout()">Logout</button>

</div>